<div class="cb-signup-popup" *ngIf="!isSignupPaymentStatus">
    <!-- Starts Left block-->

    <div class="cb-signup-left">
        <div class="cb-popup-close-signup">
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="closeDialog()">close</mat-icon>
        </div>

        <div class="cb-box">
            <p class="cb-selected">SELECTED</p>
            <img src="../../assets/images/cb-logo.png">
            <p class="cb-live-text">Chatterbox Live</p>
            <p class="cb-left-text">Chatterbox Live+ is a premium monthly subscription channel dedicated to bringing you live coverage of the biggest events.See terms & conditions for details.</p>
            <button class="cb-doller-btn" type="submit"> $13.99/Month</button>
            <ul class="listing">
                <li>
                    <p>If purchasing Tourney pass - You have must have an active live + subscription.</p>
                </li>
                <li>
                    <p>PLEASE LOGIN OR SIGNUP FOR LIVE + TO PURCHASE TOURNEY PASS</p>
                </li>
            </ul>

        </div>

    </div>
    <!-- Ends Left block-->

    <!-- Starts right block-->
    <div class="cb-signup-right">

        <div class="cb-right-inner-block">
            <!--Close button for mobile-->
            <div class="cb-popup-close-signup mobileshow">
                <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="closeDialog()">close</mat-icon>
            </div>
            <!--Close button for mobile-->
            <div class="left float-left">
                <h3>BE A <br> <span>LIVE + </span></h3>
                <p>Support Us & High school sports</p>
            </div>
            <div class="right float-left"> <img src="../../assets/images/cb-logo.png"></div>

            <div class="clearfix"></div>
            <!-- Starts Form code -->
            <form [formGroup]="signupform" (ngSubmit)="submitSignupForm()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <!-- <label for="firstname">Your Firstname<sup>*</sup></label> -->
                            <mat-form-field>
                                <mat-label>Your Firstname<sup>*</sup></mat-label>
                                <input matInput type="text" class="form-control" id="firstname" formControlName="first_name" [(ngModel)]="model.first_name" maxLength="50">
                                <mat-error *ngIf="first_name.invalid">{{showErrors('first_name')}}</mat-error>
                            </mat-form-field>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <!-- <label for="lastname">Your Lastname<sup>*</sup></label> -->
                            <mat-form-field>
                                <mat-label>Your Lastname<sup>*</sup></mat-label>
                                <input matInput type="text" class="form-control" id="lastname" formControlName="last_name" [(ngModel)]="model.last_name" maxLength="50">
                                <mat-error *ngIf="last_name.invalid">{{showErrors('last_name')}}</mat-error>
                            </mat-form-field>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <!-- <label for="email">Email address<sup>*</sup></label> -->
                            <mat-form-field>
                                <mat-label>Email address<sup>*</sup></mat-label>
                                <input matInput type="text" class="form-control" id="email_address" formControlName="email_address" [(ngModel)]="model.email_address" maxLength="100" validateEqual="confirm_email_address" reverse="true">
                                <mat-error *ngIf="email_address.invalid">{{showErrors('email_address')}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <!-- <label for="cemail">Confirm email address<sup>*</sup></label> -->
                            <mat-form-field>
                                <mat-label>Confirm Email address<sup>*</sup></mat-label>
                                <input matInput type="text" class="form-control" id="cemail" formControlName="confirm_email_address" [(ngModel)]="model.confirm_email_address" maxLength="100" validateEqual="email_address" reverse="false">
                                <mat-error *ngIf="confirm_email_address.invalid && signupform.controls.confirm_email_address.hasError('required')">
                                    {{showErrors('confirm_email_address')}}</mat-error>
                                <mat-error *ngIf="confirm_email_address.invalid && !signupform.controls.confirm_email_address.hasError('required')">
                                    Email does not match.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <!-- <label for="password">Password<sup>*</sup></label> -->
                            <mat-form-field>
                                <mat-label>Password<sup>*</sup></mat-label>
                                <input matInput type="password" class="form-control" id="pass" formControlName="password" [(ngModel)]="model.password" maxLength="100" validateEqual="confirm_password" reverse="true">
                                <mat-error *ngIf="password.invalid">{{showErrors('password')}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <!-- <label for="cpassword">Confirm Password<sup>*</sup></label> -->
                            <mat-form-field>
                                <mat-label>Confirm Password<sup>*</sup></mat-label>
                                <input matInput type="password" class="form-control" id="cpass" formControlName="confirm_password" [(ngModel)]="model.confirm_password" maxLength="100" validateEqual="password" reverse="false">
                                <mat-error *ngIf="confirm_password.invalid && signupform.controls.confirm_password.hasError('required')">
                                    {{showErrors('confirm_password')}}</mat-error>
                                <mat-error *ngIf="confirm_password.invalid && !signupform.controls.confirm_password.hasError('required')">
                                    Password does not match.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="" formControlName="terms"
                                    [(ngModel)]="model.terms" required>I agree to terms & conditions
                            </label>
                            <mat-error *ngIf="terms.invalid && isFormValid != null && !isFormValid" class="terms-error">
                                {{showErrors('terms')}}</mat-error>
                        </div>

                    </div>
                </div>

                <!-- Starts Payment section -->
                <div class="cb-signup-paymentsec">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">

                                <h3 class="cb-signup-pay"> Payment Details</h3>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
                            </div>
                        </div>
                        <!-- <div class="col-sm-12">
                            Want to add a promo? <a href=""> Switch to a monthly plan</a>
                        </div> -->
                        <div class="col-sm-12 cb-payment-total">
                            <p>
                                <span class="float-left">Total</span><span class="float-right">$13.99/Month</span>
                            </p>
                        </div>
                        <div class="col-sm-12 ">
                            <p class="cb-payment-text">Your subscription will automatically renew at $13.99 USD (any tax) each month until canceled. You can cancel automatic renewal in your account setting any time before {{subcriptionValidityDate}}.</p>
                        </div>

                        <div class="col-sm-12">
                            <button class="cb-submit-btn" type="submit" [disabled]="isFormValid"> {{singupButtonCaption}}</button>
                            <p class="cb-payment-text">By making this purchase, you authorize us to charge your credit or debit card agree to our Terms of service,Cookies Policy & Privacy and represent that you are at least 16 years of age. Charges on your card will appear as OTT
                                ISC SSPORTSNETWORK.
                            </p>
                        </div>

                    </div>
                </div>





            </form>

            <!-- Ends Form code -->


        </div>
    </div>
    <!-- Ends right block-->

</div>

<!-- Starts---Loader code -->
<div class="cb-loader-overlay" *ngIf="loader">
    <img src="../../../assets/images/loading.gif">
</div>
<!-- Ends---Loader code -->

<!-- Starts---Payment success code -->
<div class="cb-payment-success" *ngIf="isSignupPaymentStatus">

    <div class="cb-popup-close-signup">
        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="closeDialog()">close</mat-icon>
    </div>

    <div class="success-animation">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
    </div>

    <p class="payment-message">Payment Successful</p>
    <p>{{successMsg}}</p>
</div>

<!-- Ends---Payment success code -->