<div class="cb-login-popup">
    <!-- Starts Left block-->
    <div class="cb-login-left">
        <div class="cb-login-banner">
            <img class="cb-banner" src="../../assets/images/cb-login-banner.jpg">
            <div class="cb-tranparent-back"></div>
            <div class="cb-text-absolute">
                <img class="cb-signin-logo" src="../../assets/images/cb-logo.png">

                <div class="cb-text-sec">

                    <div class="cb-dotte-img"></div>
                    <div class="cb-text-blck">
                        <img class="cb-comma" src="../../assets/images/cb-signin-comma.png">
                        <p>The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again during the 90s as desktop publishers bundled the text with their software.
                        </p>
                        <p>Vincent Obi<i class="cb-tickicon"></i></p>
                        <img class="cb-corner float-right" src="../../assets/images/cb-signin-corner.png">
                    </div>
                </div>
            </div>
            <div class="cb-bottom-circle-img">
                <img src="../../assets/images/cb-signin-circle.png">
            </div>

        </div>

    </div>
    <!-- Ends Left block-->

    <!-- Starts right block-->
    <div class="cb-login-right">
        <div class="cb-popup-close">
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="closeDialog()">close</mat-icon>

        </div>
        <div class="cb-right-inner-block">
            <h3>Login with Email ID</h3>
            <p>Login with your data that you entered during your registration.</p>
            <!-- Starts Form code -->
            <form [formGroup]="signinform" (ngSubmit)="submitSiginForm()">
                <div class="form-group">
                    <!-- <label for="usr">Email address<sup>*</sup></label> -->
                    <mat-form-field>
                        <mat-label>Email address<sup>*</sup></mat-label>
                        <input matInput type="text" class="form-control" id="email" formControlName="email" [(ngModel)]="model.email" maxLength="100">
                        <mat-error *ngIf="email.invalid">{{showErrors('email')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <!-- <label for="pwd">Password<sup>*</sup></label> -->
                    <mat-form-field>
                        <mat-label>Password<sup>*</sup></mat-label>
                        <input matInput type="password" class="form-control" id="password" formControlName="pass" [(ngModel)]="model.pass" maxLength="50">
                        <mat-error *ngIf="pass.invalid">{{showErrors('pass')}}</mat-error>
                    </mat-form-field>
                </div>
                <!-- <div class="cb-forgot-button"><a class="float-right" href="">Forgot password?</a></div> -->
                <button class="cb-submit-btn" type="submit" [disabled]="isFormValid"> Continue</button>

            </form>

            <!-- Ends Form code -->

            <div class="cb-signup text-center">Don’t have an account?
                <a class="login" href="javascript:void(0)" (click)="openSignupDialog()">Register </a>
            </div>
        </div>

        <!-- Starts right block-->

    </div>

    <!-- Starts---Loader code -->
    <div class="cb-loader-overlay">
        <img src="../../../assets/images/loading.gif">
    </div>
    <!-- Ends---Loader code -->