/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-dialog-container {
    display: block;
    padding: 0 !important;
    border-radius: 0 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    top: -1px;
}

.mat-focused .mat-form-field-appearance-legacy .mat-form-field-label
{
    display:block;
}
.mat-form-field-label-wrapper {
    top: -13px;
    padding-top: 0.84375em;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label
{
    transform:none;
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
    background-color: transparent !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple, .mat-form-field.mat-form-field-invalid .mat-form-field-ripple
{
    opacity: 0 !important;
}
.mat-form-field-appearance-legacy.mat-form-field-invalid:not(.mat-focused) .mat-form-field-ripple {
    height: 0 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
    margin-top: 0.5416666667em;
    top: calc(100% - 9px) !important;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0 ;
}

.form-group .mat-form-field {
    width: 100%;
}

.form-group .mat-form-field.mat-focused .mat-form-field-label {
    color: #444;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #d6d6d6;
    outline: 0;
    box-shadow: 3px 1px 8px 0px rgb(126 126 126 / 25%);
}

.form-check-input {
    position: absolute;
    margin-top: 3px;
}