.cb-video-popup {
    min-width: 790px;
    max-width: 790px;
}

.cb-popup-close {
    float: right;
}

.cb-popup-close mat-icon {
    top: 3px;
    position: relative;
    cursor: pointer;
}
.jwplayer .jw-media video {
    position: fixed !important;
    /*width: 500px !important;
    height: 300px !important;*/
}
.jw-overlays, .jw-controls, .jw-flag-small-player .jw-settings-menu {
    position: fixed !important;
}

@media(max-width:991px) {
    .cb-video-popup {
        min-width: 100%;
        max-width: 100%;
    }
}