<!-- <p>shareddialog works! {{videoUrl}}</p> -->
<!-- <img src="../../assets/images/{{videoUrl}}"> -->
<!-- <video width="320" height="240" controls>
    <source src="https://boxcast.tv/view/270-hoops-2022-challenge-446599" type="video/mp4"
    Your browser does not support the video tag.
  </video> -->
<div class="cb-video-popup">
    <div class="cb-popup-close">
        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="closeDialog()">close</mat-icon>

    </div>
    <iframe width="100%" height="500" allowfullscreen="true" [src]="videoUrl">
</iframe>
</div>