.cb-video-popup {
    min-width: 790px;
    max-width: 790px;
}

.cb-popup-close {
    float: right;
}

.cb-popup-close mat-icon {
    top: 3px;
    position: relative;
    cursor: pointer;
}

.videoplayer {
    position: relative;
}

.videoplayer .cb-popup-close {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 999999;
    color: #fff;
}

@media(max-width:991px) {
    .cb-video-popup {
        min-width: 100%;
        max-width: 100%;
    }
}