<!-- Starts landing body section -->
<div class="cb-bg-color">

    <!-- Starts videos section -->
    <section class="cb-videos-section">
        <div class="container">

            <!-- Starts live/upcoming block -->
            <div class="cb-livevideo-block" *ngIf="livePlusChannelVideos.length > 0">
                <h5>LIVE/UPCOMING <a *ngIf="!isSeeAll" class="see-all-btn" href="javascript:void(0)" (click)="seeAllLive('true')">See All</a><a *ngIf="isSeeAll" class="see-all-btn" href="javascript:void(0)" (click)="seeAllLive('false')">See Less</a></h5>
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-xl-2" *ngFor="let livevideo of livePlusChannelVideos">
                        <!-- <div id="boxcast-widget-x4hskyp019znhujikckx"></div> -->
                        <div class="cb-video-block">
                            <img height="106px" width="173px" src="{{livevideo.preview}}" (click)="openVideoDialog(livevideo.id)">
                            <div class="cb-video-liveicon" *ngIf="livevideo.isLive == 1">
                                <span><i></i>LIVE</span>
                            </div>
                            <p class="cb-video-head">{{livevideo.name}}</p>
                            <p class="cb-video-subhead">Broadcasted - {{livevideo.starts_at}} - {{livevideo.stops_at}}</p> 
                            <!-- <p class="cb-video-subhead">ESPN . SportsCenter</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ends live/upcoming block -->

            <!-- Starts recent games block -->
            <div class="cb-recentgames-block" *ngIf="recentVideos.length > 0">
                <h5>RECENT GAMES <a *ngIf="!isSeeAllRecent && totalRecentVideos > 6" class="see-all-btn" href="javascript:void(0)" (click)="seeAllRecent('true')">See All</a><a *ngIf="isSeeAllRecent && totalRecentVideos > 6" class="see-all-btn" href="javascript:void(0)" (click)="seeAllRecent('false')">See Less</a></h5>
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-xl-2" *ngFor="let livevideo of recentVideos">
                        <!-- <div id="boxcast-widget-x4hskyp019znhujikckx"></div> -->
                        <div class="cb-video-block">
                            <img height="106px" width="173px" src="{{livevideo.preview}}" (click)="openVideoDialog(livevideo.id)">
                            <div class="cb-video-liveicon">
                                <span>{{livevideo.starts_at}}</span>
                            </div>
                            <p class="cb-video-head">{{livevideo.name}}</p>
                            <p class="cb-video-subhead">Broadcasted - {{livevideo.starts_at}} - {{livevideo.stops_at}}</p> 
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ends recent games block -->

            
        </div>


    </section>
    <!-- End videos section -->

</div>
<!-- End landing body section -->

<!-- Starts---Loader code -->
<div class="cb-loader-overlay" *ngIf="loader">
    <img src="../../../assets/images/loading.gif">
</div>
<!-- Ends---Loader code -->