<!-- Starts landing body section -->
<div class="cb-bg-color">

    <!-- Starts videos section -->
    <section class="cb-videos-section">
        <div class="container">

            <!-- Starts live/upcoming block -->
            <div class="cb-livevideo-block">
                <h5>LIVE/UPCOMING <a class="see-all-btn" href="">See All</a></h5>
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span><i></i>LIVE</span>
                            </div>
                            <p class="cb-video-head">Sports Center</p>
                            <p class="cb-video-subhead">ESPN . SportsCenter</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span><i></i>LIVE</span>
                            </div>
                            <p class="cb-video-head">Sports Center</p>
                            <p class="cb-video-subhead">ESPN . SportsCenter</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span><i></i>LIVE</span>
                            </div>
                            <p class="cb-video-head">Sports Center</p>
                            <p class="cb-video-subhead">ESPN . SportsCenter</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span><i></i>LIVE</span>
                            </div>
                            <p class="cb-video-head">Sports Center</p>
                            <p class="cb-video-subhead">ESPN . SportsCenter</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span><i></i>LIVE</span>
                            </div>
                            <p class="cb-video-head">Sports Center</p>
                            <p class="cb-video-subhead">ESPN . SportsCenter</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span><i></i>LIVE</span>
                            </div>
                            <p class="cb-video-head">Sports Center</p>
                            <p class="cb-video-subhead">ESPN . SportsCenter</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ends live/upcoming block -->

            <!-- Starts recent games block -->
            <div class="cb-recentgames-block">
                <h5>RECENT GAMES <a class="see-all-btn" href="">See All</a></h5>
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/instantclassic-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>06:00 PM</span>
                            </div>
                            <p class="cb-video-head">AS San Juan vs. Granada(Round 1)</p>
                            <p class="cb-video-subhead">ESPN+ . Copa del Rey</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/instantclassic-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>06:00 PM</span>
                            </div>
                            <p class="cb-video-head">AS San Juan vs. Granada(Round 1)</p>
                            <p class="cb-video-subhead">ESPN+ . Copa del Rey</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/instantclassic-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>06:00 PM</span>
                            </div>
                            <p class="cb-video-head">AS San Juan vs. Granada(Round 1)</p>
                            <p class="cb-video-subhead">ESPN+ . Copa del Rey</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/instantclassic-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>06:00 PM</span>
                            </div>
                            <p class="cb-video-head">AS San Juan vs. Granada(Round 1)</p>
                            <p class="cb-video-subhead">ESPN+ . Copa del Rey</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/instantclassic-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>06:00 PM</span>
                            </div>
                            <p class="cb-video-head">AS San Juan vs. Granada(Round 1)</p>
                            <p class="cb-video-subhead">ESPN+ . Copa del Rey</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/instantclassic-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>06:00 PM</span>
                            </div>
                            <p class="cb-video-head">AS San Juan vs. Granada(Round 1)</p>
                            <p class="cb-video-subhead">ESPN+ . Copa del Rey</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Ends recent games block -->


        </div>


    </section>
    <!-- End videos section -->

</div>
<!-- End landing body section -->