<div class="cb-login-popup" *ngIf="!isforgotemailsent">
  <!-- Starts Left block-->
  <div class="cb-login-left">
      <div class="cb-login-banner">
          <img class="cb-banner" src="../../assets/images/cb-login-banner.png">
      </div>
  </div>
  <!-- Ends Left block-->
  <!-- Starts right block-->
  <div class="cb-login-right" >
      <div class="cb-popup-close">
          <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="closeDialog()">close</mat-icon>
      </div>
      <div class="cb-right-inner-block">
          <h3>Forgot Password</h3>
          <p>Enter your registered email address and you will receive an email for reset your password.</p>
          <!-- Starts Form code -->
          <form [formGroup]="forgotpassform" (ngSubmit)="forgotpassword()">
              <div class="form-group">
                 <!-- <label for="usr">Email address<sup>*</sup></label> -->
                  <mat-form-field>
                      <mat-label>Email address<sup>*</sup></mat-label>
                      <input matInput type="text" class="form-control" id="email" formControlName="email" [(ngModel)]="model.email" maxLength="100">
                      <mat-error *ngIf="email.invalid">{{showErrors('email')}}</mat-error>
                  </mat-form-field>
              </div>
             
              <!-- <div class="cb-forgot-button"><a class="float-right" href="javascript:void(0)" (click)="openForgotPasswordDialog()">Forgot password?</a></div> -->
              <button class="cb-submit-btn" type="submit" [disabled]="isValidForm"> Continue</button>

          </form>

          <!-- Ends Form code -->

          <!-- <div class="cb-signup text-center">Don’t have an account?
              <a class="login" href="javascript:void(0)" (click)="openSignupDialog()">Register </a>
          </div> -->
      </div>

      <!-- Starts right block-->

  </div>
</div>


  <!-- Starts---Payment success code -->
  <div class="cb-payment-success" *ngIf="isforgotemailsent">

    <div class="cb-popup-close">
      <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="closeDialog()">close</mat-icon>
    </div>
  
    <div class="success-animation">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
    </div>
  
    <!-- <p class="payment-message">Payment Successful</p> -->
    <p>{{successdata}}</p>
  </div>
  
  <!-- Ends---Payment success code -->
  <!-- Starts---Loader code -->
  <div class="cb-loader-overlay" *ngIf="loader">
      <img src="../../../assets/images/loading.gif">
  </div>
  <!-- Ends---Loader code -->