<!-- Starts - footer bar -->

<footer class="cb-footer-bg cb-footer-pad cb-footer-color">
    <!-- Starts - upper footer bar -->
    <div class="cb-upper-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4 text-left">
                    <!-- <p>7480 Mockingbird Hill undefined </p> -->
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 text-left">
                    <p><a href="mailto:chatterbox@live.com">chatterbox@live.com</a></p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 cb-phone-pad text-left">
                    <!-- <p>(239) 555-0108</p> -->
                </div>
                <!-- <div class="col-sm-12 col-md-6 col-lg-3 text-right">
                    <mat-icon aria-hidden="false" aria-label="Example twitter icon">twitter</mat-icon> 

                </div> -->
            </div>
        </div>
    </div>
    <!-- Ends - upper footer bar -->

    <!-- Starts - lower footer bar -->
    <div class="cb-lower-footer text-center ">
        <p class="cb-pad ">© 2020 Chatterbox Live . All rights reserved.
        </p>
    </div>
    <!-- Ends - lower footer bar -->

</footer>

<!-- Ends - footer bar -->