<div class="cb-signup-popup resetpassword" *ngIf="!ispasswordReset">


    <!-- Starts right block-->
    <div class="cb-signup-right">

        <div class="cb-right-inner-block">

            <div class="left float-left">
                <h3>RESET PASSWORD</h3>
                <p>Reset your password here</p>
            </div>

            <div class="clearfix"></div>
            <!-- Starts Form code -->
            <form [formGroup]="resetpassform" (ngSubmit)="resetpassword()">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <!-- <label for="password">Password<sup>*</sup></label> -->
                            <mat-form-field>
                                <mat-label>New Password<sup>*</sup></mat-label>
                                <input matInput type="password" class="form-control" id="pass" formControlName="password" [(ngModel)]="model.password" maxLength="100" validateEqual="confirm_password" reverse="true">
                                <mat-error *ngIf="password.invalid">{{showErrors('password')}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <!-- <label for="cpassword">Confirm Password<sup>*</sup></label> -->
                            <mat-form-field>
                                <mat-label>Confirm Password<sup>*</sup></mat-label>
                                <input matInput type="password" class="form-control" id="cpass" formControlName="confirm_password" [(ngModel)]="model.confirm_password" maxLength="100" validateEqual="password" reverse="false">
                                <mat-error *ngIf="confirm_password.invalid && resetpassform.controls.confirm_password.hasError('required')">
                                    {{showErrors('confirm_password')}}</mat-error>
                                <mat-error *ngIf="confirm_password.invalid && !resetpassform.controls.confirm_password.hasError('required')">
                                    Password does not match.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <!-- Starts Payment section -->
                <div class="cb-signup-paymentsec">
                    <div class="row">
                        <div class="col-sm-12">
                            <button class="cb-submit-btn" type="submit" [disabled]="isFormValid">Reset Password</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Ends Form code -->
        </div>
    </div>
    <!-- Ends right block-->
</div>

<!-- Starts---Loader code -->
<div class="cb-loader-overlay" *ngIf="loader">
    <img src="../../../assets/images/loading.gif">
</div>
<!-- Ends---Loader code -->


<!-- Starts---Payment success code -->
<div class="cb-payment-success" *ngIf="ispasswordReset">

    <!-- <div class="cb-popup-close-signup">
        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="closeDialog()">close</mat-icon>
    </div> -->

    <div class="success-animation">
        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" /><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
    </div>

    <!-- <p class="payment-message">Payment Successful</p> -->
    <p>{{successMsg}}</p>
</div>

<!-- Ends---Payment success code -->