<!-- Starts landing body section -->
<div class="cb-bg-color">

    <!-- Starts videos section -->
    <section class="cb-videos-section">
        <div class="container">

            <!-- Starts live/upcoming block -->
            <div class="cb-livevideo-block">
                <h5>LIVE/UPCOMING <a class="see-all-btn" href="">See All</a></h5>
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span><i></i>LIVE</span>
                            </div>
                            <p class="cb-video-head">Sports Center</p>
                            <p class="cb-video-subhead">ESPN . SportsCenter</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span><i></i>LIVE</span>
                            </div>
                            <p class="cb-video-head">Sports Center</p>
                            <p class="cb-video-subhead">ESPN . SportsCenter</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span><i></i>LIVE</span>
                            </div>
                            <p class="cb-video-head">Sports Center</p>
                            <p class="cb-video-subhead">ESPN . SportsCenter</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span><i></i>LIVE</span>
                            </div>
                            <p class="cb-video-head">Sports Center</p>
                            <p class="cb-video-subhead">ESPN . SportsCenter</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span><i></i>LIVE</span>
                            </div>
                            <p class="cb-video-head">Sports Center</p>
                            <p class="cb-video-subhead">ESPN . SportsCenter</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span><i></i>LIVE</span>
                            </div>
                            <p class="cb-video-head">Sports Center</p>
                            <p class="cb-video-subhead">ESPN . SportsCenter</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ends live/upcoming block -->

            <!-- Starts recent games block -->
            <div class="cb-recentgames-block">
                <h5>RECENT GAMES <a class="see-all-btn" href="">See All</a></h5>
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/instantclassic-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>06:00 PM</span>
                            </div>
                            <p class="cb-video-head">AS San Juan vs. Granada(Round 1)</p>
                            <p class="cb-video-subhead">ESPN+ . Copa del Rey</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/instantclassic-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>06:00 PM</span>
                            </div>
                            <p class="cb-video-head">AS San Juan vs. Granada(Round 1)</p>
                            <p class="cb-video-subhead">ESPN+ . Copa del Rey</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/instantclassic-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>06:00 PM</span>
                            </div>
                            <p class="cb-video-head">AS San Juan vs. Granada(Round 1)</p>
                            <p class="cb-video-subhead">ESPN+ . Copa del Rey</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/instantclassic-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>06:00 PM</span>
                            </div>
                            <p class="cb-video-head">AS San Juan vs. Granada(Round 1)</p>
                            <p class="cb-video-subhead">ESPN+ . Copa del Rey</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/instantclassic-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>06:00 PM</span>
                            </div>
                            <p class="cb-video-head">AS San Juan vs. Granada(Round 1)</p>
                            <p class="cb-video-subhead">ESPN+ . Copa del Rey</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2 ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/instantclassic-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>06:00 PM</span>
                            </div>
                            <p class="cb-video-head">AS San Juan vs. Granada(Round 1)</p>
                            <p class="cb-video-subhead">ESPN+ . Copa del Rey</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Ends recent games block -->

            <!-- Starts instant classic block -->
            <div class="cb-instantclassic-block">
                <h5>INSTANT CLASSICS <a class="see-all-btn" href="">See All</a></h5>
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-xl-2  ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>10:00</span>
                            </div>
                            <p class="cb-video-head">Wed, 12/16 - Around the Hom Presented by Bulleit</p>
                            <p class="cb-video-subhead">ESPN . Around The Horn</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2  ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>10:00</span>
                            </div>
                            <p class="cb-video-head">Wed, 12/16 - Around the Hom Presented by Bulleit</p>
                            <p class="cb-video-subhead">ESPN . Around The Horn</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2  ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>10:00</span>
                            </div>
                            <p class="cb-video-head">Wed, 12/16 - Around the Hom Presented by Bulleit</p>
                            <p class="cb-video-subhead">ESPN . Around The Horn</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2  ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>10:00</span>
                            </div>
                            <p class="cb-video-head">Wed, 12/16 - Around the Hom Presented by Bulleit</p>
                            <p class="cb-video-subhead">ESPN . Around The Horn</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2  ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>10:00</span>
                            </div>
                            <p class="cb-video-head">Wed, 12/16 - Around the Hom Presented by Bulleit</p>
                            <p class="cb-video-subhead">ESPN . Around The Horn</p>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3 col-xl-2  ">
                        <div class="cb-video-block">
                            <img src="../../assets/images/video-image-one.png">
                            <div class="cb-video-liveicon">
                                <span>10:00</span>
                            </div>
                            <p class="cb-video-head">Wed, 12/16 - Around the Hom Presented by Bulleit</p>
                            <p class="cb-video-subhead">ESPN . Around The Horn</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Ends instant classic block -->

        </div>


    </section>
    <!-- End videos section -->

    <!-- Starts get in touch section -->
    <section class="cb-getintouch-section">
        <div class="cb-getintouch-block">
            <div class="cb-getintouch-textblock">
                <p class="cb-getintouch-text">We Always try our best to get you the best possible HD Streams to watch Live Sports Online. </p>
                <a href="" class="cb-getintouch-btn">
                    Get In Touch</a>
            </div>
        </div>
    </section>

    <!-- Ends get in touch section -->

    <!-- Starts we help section -->
    <section class="cb-wehelp-section">
        <div class="cb-wehelp-block">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12">
                        <h2 class="how-help-text">How can we help you?</h2>
                    </div>
                    <div class="col-12">
                        <div class="cb-help-search">
                            <input type="search" placeholder="Type Keyword to find Answer">
                            <a href="" class="search-icon">
                                <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>
                            </a>
                        </div>
                    </div>
                    <div class="col-12">
                        <p>You can also browse the topics below to find what you are looking for.</p>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- Starts Frequently asked questions section -->
    <section class="cb-faq-section">
        <div class="cb-faq-block">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="cb-faq-head-color cb-faq-head">FREQUENTLY ASKED QUESTIONS</h3>
                    </div>
                    <div class="col-sm-4 text-left">
                        <h5 class="cb-faq-head-color cb-faq-subhead">GENERAL</h5>
                        <p><a href="">About forwording limits </a> </p>
                        <p><a href="">How to update Whatsapp</a></p>
                        <p><a href="">Stolen accounts</a></p>
                        <p class="all-ques"><a href="">View all questions</a></p>

                    </div>
                    <div class="col-sm-4 text-left">
                        <h5 class="cb-faq-head-color cb-faq-subhead">ANDROID</h5>
                        <p><a href="">Verifying your number</a></p>
                        <p><a href="">How to restore your chat history</a></p>
                        <p><a href="">How to manage your noitifications</a></p>
                        <p class="all-ques"><a href="">View all questions</a></p>
                    </div>
                    <div class="col-sm-4 text-left">
                        <h5 class="cb-faq-head-color cb-faq-subhead">IPHONE</h5>
                        <p><a href="">How to restore your chat history</a></p>
                        <p><a href="">How to restore your chat history</a></p>
                        <p><a href="">How to manage your noitifications</a></p>
                        <p class="all-ques"><a href="">View all questions</a></p>
                    </div>

                </div>

            </div>
        </div>

    </section>
    <!-- Ends Frequently asked questions section -->


</div>
<!-- End landing body section -->