<!-- Starts landing body section -->
<div class="cb-bg-color">

    <!-- Starts videos section -->
    <section class="cb-videos-section">
        <div class="container">

            <!-- Starts live/upcoming block -->
            <div class="cb-livevideo-block" *ngIf="liveChannelVideos.length > 0">
                <h5>LIVE/UPCOMING <a *ngIf="!isSeeAll && totalLiveVideos > 6" class="see-all-btn" href="javascript:void(0)" (click)="getLiveChannelData(0,totalLiveVideos,'seeall')">See All</a><a *ngIf="isSeeAll && totalLiveVideos > 6" class="see-all-btn" href="javascript:void(0)" (click)="getLiveChannelData(0,6)">See Less</a></h5>
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-xl-2" *ngFor="let livevideo of liveChannelVideos">
                        <!-- <div id="boxcast-widget-x4hskyp019znhujikckx"></div> -->
                        <div class="cb-video-block">
                            <img height="106px" width="173px" src="{{livevideo.preview}}" (click)="openVideoDialog(livevideo.viewer_url)">
                            <div class="cb-video-liveicon">
                                <span><i></i>LIVE</span>
                            </div>
                            <p class="cb-video-head">{{livevideo.name}}</p>
                            <!-- <p class="cb-video-subhead">ESPN . SportsCenter</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ends live/upcoming block -->

            <!-- Starts recent games block -->
            <div class="cb-recentgames-block" *ngIf="recentVideos.length > 0">
                <h5>RECENT GAMES <a *ngIf="!isSeeAllRecent && totalRecentVideos > 6" class="see-all-btn" href="javascript:void(0)" (click)="getRecentGamesData(0,totalRecentVideos,'seeall')">See All</a><a *ngIf="isSeeAllRecent && totalRecentVideos > 6" class="see-all-btn" href="javascript:void(0)" (click)="getRecentGamesData(0,6)">See Less</a></h5>
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-xl-2" *ngFor="let livevideo of recentVideos">
                        <!-- <div id="boxcast-widget-x4hskyp019znhujikckx"></div> -->
                        <div class="cb-video-block">
                            <img height="106px" width="173px" src="{{livevideo.preview}}" (click)="openVideoDialog(livevideo.viewer_url)">
                            <div class="cb-video-liveicon">
                                <!-- <span><i></i>LIVE</span> -->
                            </div>
                            <p class="cb-video-head">{{livevideo.name}}</p>
                            <!-- <p class="cb-video-subhead">ESPN . SportsCenter</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ends recent games block -->

            <!-- Starts instant classic block -->
            <div class="cb-instantclassic-block" *ngIf="instantClassicChannelVideos.length > 0">
                <h5>INSTANT CLASSICS <a *ngIf="!isSeeAllInstant && totalInstantVideos > 6" class="see-all-btn" href="javascript:void(0)" (click)="getInstantClassicChannelData(0,totalInstantVideos,'isSeeAllInstant')">See All</a><a *ngIf="isSeeAllInstant && totalInstantVideos > 6" class="see-all-btn" href="javascript:void(0)" (click)="getInstantClassicChannelData(0,6)">See Less</a></h5>
                <div class="row">
                    <div class="col-sm-4 col-md-3 col-xl-2  " *ngFor="let instantvideo of instantClassicChannelVideos">
                        <div class="cb-video-block">
                            <img height="106px" width="173px" src="{{instantvideo.preview}}" (click)="openVideoDialog(instantvideo.viewer_url)">
                            <div class="cb-video-liveicon">
                                <span>{{instantvideo.durationTime}}</span>
                            </div>
                            <p class="cb-video-head">{{instantvideo.name}}</p>
                            <!-- <p class="cb-video-subhead">ESPN . Around The Horn</p> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ends instant classic block -->

        </div>


    </section>
    <!-- End videos section -->

    <!-- Starts get in touch section -->
    <section class="cb-getintouch-section">
        <div class="cb-getintouch-block">
            <div class="cb-getintouch-textblock">
                <p class="cb-getintouch-text">We Always try our best to get you the best possible HD Streams to watch Live Sports Online. </p>
                <a href="" class="cb-getintouch-btn">
                    Get In Touch</a>
            </div>
        </div>
    </section>

    <!-- Ends get in touch section -->

    <!-- Starts we help section -->
    <section class="cb-wehelp-section">
        <div class="cb-wehelp-block">
            <div class="container">
                <div class="row text-center">
                    <div class="col-12">
                        <h2 class="how-help-text">How can we help you?</h2>
                    </div>
                    <div class="col-12">
                        <div class="cb-help-search">
                            <input type="search" placeholder="Type Keyword to find Answer">
                            <a href="" class="search-icon">
                                <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>
                            </a>
                        </div>
                    </div>
                    <div class="col-12">
                        <p>You can also browse the topics below to find what you are looking for.</p>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <!-- Starts Frequently asked questions section -->
    <section class="cb-faq-section">
        <div class="cb-faq-block">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="cb-faq-head-color cb-faq-head">FREQUENTLY ASKED QUESTIONS</h3>
                    </div>
                    <div class="col-sm-4 text-left">
                        <h5 class="cb-faq-head-color cb-faq-subhead">GENERAL</h5>
                        <p><a href="">About forwording limits </a> </p>
                        <p><a href="">How to update Whatsapp</a></p>
                        <p><a href="">Stolen accounts</a></p>
                        <p class="all-ques"><a href="">View all questions</a></p>

                    </div>
                    <div class="col-sm-4 text-left">
                        <h5 class="cb-faq-head-color cb-faq-subhead">ANDROID</h5>
                        <p><a href="">Verifying your number</a></p>
                        <p><a href="">How to restore your chat history</a></p>
                        <p><a href="">How to manage your noitifications</a></p>
                        <p class="all-ques"><a href="">View all questions</a></p>
                    </div>
                    <div class="col-sm-4 text-left">
                        <h5 class="cb-faq-head-color cb-faq-subhead">IPHONE</h5>
                        <p><a href="">How to restore your chat history</a></p>
                        <p><a href="">How to restore your chat history</a></p>
                        <p><a href="">How to manage your noitifications</a></p>
                        <p class="all-ques"><a href="">View all questions</a></p>
                    </div>

                </div>

            </div>
        </div>

    </section>
    <!-- Ends Frequently asked questions section -->


</div>
<!-- End landing body section -->

<!-- Starts---Loader code -->
<div class="cb-loader-overlay" *ngIf="loader">
    <img src="../../../assets/images/loading.gif">
</div>
<!-- Ends---Loader code -->