<!-- Starts landing body section -->
<div class="cb-bg-color">
    <!-- Starts videos section -->
    <section class="cb-videos-section">
        <div class="container">
            <h2>Frequently Asked Questions</h2>
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        My Video Won't Load/Plays Intermittently?
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                      This is a summary of the content
                    </mat-panel-description> -->
                  </mat-expansion-panel-header>
                  <p>Our live streams require a secure stable broadband/internet connection. The first is our connection. Although rare, from time to time we may experience broadband issues. If this is the case, we will try to notify viewers, and work to solve. However, more often the issue lies within the viewers broadband. To check your internet connection strength, visit https://www.speedtest.net/ and run a test. If you’re receiving 15MBPS or faster, you should be good. If your internet is not the issue, try using a different web browser, or restarting your web browser. One of the scenarios above should alleviate your issue.</p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        My video looks fuzzy? 
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                     fgfdgdfgdfg
                    </mat-panel-description> -->
                  </mat-expansion-panel-header>
                  <p>The reason you are seeing fuzzy video is a function of the broadband/internet connection you are getting, OR the setting within the video player is set to a low resolution. Change the resolution by clicking the gear icon and clicking on the HD resolution you desire. The higher the resolution the more broadband you are required. Any speeds above 30MBPS should allow smooth HD viewing. Check your speed at https://www.speedtest.net/ </p>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Audio of wrong game or multiple games? 
                      </mat-panel-title>
                      <!-- <mat-panel-description>
                       fgfdgdfgdfg
                      </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <p>The reason you are hearing multiple games, or seems to be the wrong game is because you have multiple browser tabs open playing different games. Be sure to either mute the games you do not want to hear, or close out the tab. </p>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        How many devices can I play simultaneously?
                      </mat-panel-title>
                      <!-- <mat-panel-description>
                       fgfdgdfgdfg
                      </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <p>Your single account provides two concurrent live streams. </p>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Can I Cast/Watch Stream on TV?
                      </mat-panel-title>
                      <!-- <mat-panel-description>
                       fgfdgdfgdfg
                      </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <p>Yes! Our video player has the ability to cast. Ensure you are using the latest version of Chrome web browser and find the cast icon. You can also use an HDMI output of your computer if available, directly into your television and mirror the screen. Visit https://www.ibik.ru/how-to-connect-laptop-to-tv-using-hdmi for more information. </p>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        The audio won't play on my phone?
                      </mat-panel-title>
                      <!-- <mat-panel-description>
                       fgfdgdfgdfg
                      </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <p>Our application does not override the silent setting on your phone. Please ensure your phone (iphone- the small switch on side of phone) does not have the silent mode activated. </p>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        What does my subscription cover? 
                      </mat-panel-title>
                      <!-- <mat-panel-description>
                       fgfdgdfgdfg
                      </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <p>Our Live+ membership  is a monthly subscription in which allows active members to enjoy the live and on demand content on the Live+ Channel. The Tourney Pass is a dedicated area which requires a single payment for 45 days access. The pass allows members to watch live and on demand videos within the Tourney area on the website. </p>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        I Can't Find My Game? 
                      </mat-panel-title>
                      <!-- <mat-panel-description>
                       fgfdgdfgdfg
                      </mat-panel-description> -->
                    </mat-expansion-panel-header>
                    <p>More times than not, you must be sure to click “See All”. The most recent 6 broadcasts appear, and on rare occasions, we will be streaming more than 6 games live at once.  </p>
                  </mat-expansion-panel>
              </mat-accordion>
              
            
        </div>
    </section>
    <!-- End videos section -->
</div>
<!-- End landing body section -->
<!-- Starts---Loader code -->
<!-- <div class="cb-loader-overlay" *ngIf="loader">
    <img src="../../../assets/images/loading.gif">
</div> -->
<!-- Ends---Loader code -->