<!-- Starts landing body section -->
<div class="cb-bg-color">
    <!-- Starts videos section -->
    <section class="cb-videos-section">
        <div class="container">
            <h2>Terms and Conditions</h2>
            <p>Chatterbox Sports application Viewer Terms of Service Agreement. Terms are available at Chatterboxsports.com/Terms</p>

<p><br></p>
<p>This Chatterbox Sports application Viewer Terms of Service Agreement (&ldquo;Agreement&rdquo;) is between you and Chatterbox Sports LLC (for the purposes hereof, &ldquo;Chatterbox Sports,&rdquo; &ldquo;we&rdquo; or &ldquo;us&rdquo;). The Agreement governs your use of the &ldquo;Chatterbox Sports application,&rdquo; an online platform that allows consumers like you to view video programs (&ldquo;Programs&rdquo;) from content owners and licensors (&ldquo;Producers&rdquo;) through Producer-branded websites and applications that we power.</p>

<p><br></p>
<p>Notice: Section 10 of this Agreement contains a mandatory ARBITRATION AGREEMENT. By using the Chatterbox Sports application Service, you agree that any claims you may have against Chatterbox Sports relating to the Chatterbox Sports application Service must be ARBITRATED, and you waive the right to (1) assert claims against Chatterbox Sports in court; (2) participate in a class action; and (3) have a jury hear your case.</p>

<p><br></p>
<p>1. Acceptance</p>
<p>By creating an account, viewing videos, making a purchase, downloading Producer-branded applications that we power, or otherwise visiting or using the Chatterbox Sports application Service, you accept this Agreement and consent to contract with us electronically.</p>
<p>If you are an entity other than a natural person, the person who registers the account or otherwise uses the Chatterbox Sports application Service must have the authority to bind the entity. In this context, &ldquo;you&rdquo; means both the entity and each person who is authorized to access the account.</p>
<p>We may update this Agreement by posting a revised version on our website. By continuing to use the Chatterbox Sports application Service, you accept any revised Agreement.</p>
<p>You may terminate the Agreement at any time by deleting your account. We reserve the right to suspend or terminate your account for your breach of the terms hereof. If Chatterbox Sports deletes your account for breach, you may not re-register. In the event of any termination or expiration of the Agreement, the following sections will survive: Section 7 (Disclaimers), Section 8 (Limitation of Liability), Section 9 (Indemnification), Section 10 (Arbitration Agreement; Jury Waiver; Class Action Waiver), and Section 11 (General Provisions).</p>
<p>2. Accounts</p>
<p>Registration: You must create an account to use certain features we offer (e.g., to view a Program). To do so, you must provide an email address. By creating an account, you agree to receive notices from Chatterbox Sports and the Producers of the Programs you purchase at this email address.</p>
<p>Age Requirements: You may not create an account if you are younger than 16 years of age. By creating an account, you represent that you are at least 16 years of age, and, to the extent required by law, you have the permission of a parent or guardian to create an account and use the Chatterbox Sports application Service.</p>
<p>Parents and Guardians: By granting your child permission to use the Chatterbox Sports application Service through your account, you agree and understand that you are responsible for monitoring and supervising your child&apos;s usage. If you believe your child is using your account and does not have your permission, please contact us immediately so that we can disable access.</p>
<p>Account Security: You are responsible for all activity that occurs under your account, including unauthorized activity. You must safeguard the confidentiality of your account credentials. If you are using a computer that others have access to, you must log out of your account after each session. If you become aware of unauthorized access to your account, you must change your password and notify us immediately.</p>

<p><br></p>
<p>3. Privacy</p>
<p>Please review our Privacy Policy to learn about the information we collect from you when you use the Chatterbox Sports application Service, how we use it, and with whom we share it.</p>
<p>By creating an account, you agree that the Producer of the Program(s) you purchase will have access to your account information and account activities, such as the viewing and purchase of the Producer&rsquo;s Programs, and your contact information. Chatterbox Sports is not responsible for a Producer&rsquo;s use or disclosure of your data.</p>

<p><br></p>
<p>4. Program Viewing and Purchase Options</p>
<p>Producers may offer the following purchase options through Producer-branded websites and applications:</p>

<p><br></p>
<p>Rental: After paying the stated fee, you may stream the Program an unlimited number of times during the stated rental period.</p>

<p><br></p>
<p>Purchase: After paying the stated fee, you may stream the Program an unlimited number of times; if offered by the Producer, you may download the Program.</p>

<p><br></p>
<p>Subscription: For a recurring fee, you may stream the Programs offered within a Producer&rsquo;s subscription channel an unlimited number of times during your subscription period.&nbsp;</p>


<p>The Producer may add or remove Programs from the channel at any time.</p>

<p><br></p>
<p>To make a purchase, you must provide a valid payment method. We may apply taxes, including VAT (value-added tax), to any charges. Prices and other terms of purchase are subject to change. If a Producer provides you access to a Program on a free basis, such access will be deemed a &ldquo;purchase&rdquo; for the purpose of this Agreement.</p>
<p>ALL PURCHASES, INCLUDING RECURRING CHARGES, ARE FINAL AND NON-REFUNDABLE. IF USER SUBSCRIPTION EXPIRES, ACCOUNT WILL BE DELETED FROM SYSTEM.&nbsp;</p>

<p><br></p>
<p>Free trials and Discounts: Producers may offer free-trial or discounted subscriptions. When a free-trial period ends, your paid subscription begins (unless you have cancelled) and you must pay the full monthly or annual fee. If a Producer provides a discount for the first subscription period, you must pay the discounted fee; in any renewal, you must pay the full fee.</p>

<p><br></p>
<p>Automatic Renewal: To the extent permitted by applicable law, subscriptions automatically renew for the subscription period until you cancel. Your payment method will be charged at the beginning of each subscription period. If a Purchaser offers a free-trial period, your payment method will be charged at the end of the free-trial period unless you cancel before the end of that period.</p>

<p><br></p>
<p>How to Decline Renewal: To pause or cancel a subscription, visit your account settings within your profile . Your changes will be applied to your next subscription period.</p>
<p>In-App Purchase: Producers may allow you to purchase subscriptions within apps you download. When you make such &ldquo;in-app&rdquo; purchases, you will be billed by the app platform, not us. To turn off automatic renewal for subscriptions, access your platform&rsquo;s account settings (not Chatterbox Sports&rsquo;s). Any billing inquiries should be directed to the app platform</p>

<p><br></p>
<p>4.1 CBOX + Membership</p>
<p>CBOX + is a premium channel in which only subscribing members will obtain access to. In order to become a member you must successfully purchase a subscription on any Chatterbox Sports platforms. Upon successful subscription and account creation the premium content within the CBOX + channel will be made available.&nbsp;</p>

<p><br></p>
<p>4.2 Tourney Channel</p>
<p>Tourney Channel is an add-on option for CBOX + members. Tourney Channel is not available for any non-active CBOX + member. If user unsubscribed for any reason to the CBOX + membership, their account will be deactivated, therefore cancelling their Tourney Channel access. In order to obtain the Tourney Channel access a user must first signup or sign-in to CBOX +, and then purchase the non-renewable subscription of Tourney Channel. Once purchase is successful, then the user will have access to the channel for the stated period of time.&nbsp;</p>

<p><br></p>
<p>4.2 Maximum of Two Active Sign-Ins</p>
<p>Active viewers are limited within the Chatterbox Sports application services and platforms. A limit of TWO active sign ins is administered per account holder. If the account has more than two active sign in attempts then the party trying to sign in will be prompted to sign out of another device to gain access. Password sharing is prohibited, and is the direct reason for active sign ins.</p>

<p><br></p>
<p>5. Licenses and Intellectual Property</p>
<p>License to Programs: Subject to the terms hereof, you have the right to stream and/or (if offered) download for your personal entertainment purposes: (i) Programs that you have rented during the stated rental period; (ii) Programs that you have purchased; and (iii) Programs made available within a channel that you have subscribed to during your subscription period.</p>
<p>Restrictions: You may not resell streams or downloads, use any Program for any commercial purpose, redistribute or retransmit any Program, publicly perform or display any Program, or make derivative works from any Program. All rights not expressly granted herein are reserved by the applicable Producer.</p>
<p>Chatterbox Sports application Service: Subject to the terms hereof, Chatterbox Sports grants you permission to use the Chatterbox Sports application Service for the sole purpose of viewing Programs for your personal entertainment. All rights not expressly granted by Chatterbox Sports are reserved.</p>
<p>Producer Apps: If you download a Producer application that we power (an &ldquo;app&rdquo;) that operates on a third-party platform (e.g., iOS, Roku): (i) you have the right to use such app for your personal, non-commercial use on devices permitted by the platform operator; (ii) as between Chatterbox Sports and the platform operator (but without creating any obligation by Chatterbox Sports), Chatterbox Sports shall be responsible for the apps and their content and providing any warranty, support, or indemnification with respect to such apps as required by law; and (iii) the platform operator shall have the right to enforce the terms of this clause with respect to your use of the app.</p>
<p>Your Content; Feedback: To the extent that you submit any content to Chatterbox Sports (i.e. in your profile, a comment, or forum), you grant Chatterbox Sports an irrevocable, worldwide, non-exclusive, royalty-free, perpetual right and license to use, copy, adapt, transmit, distribute, license, and publicly perform and display such content in all media for any purpose whatsoever. Any content submitted must comply with the Acceptable Use Policy set forth in Section 6. If you make suggestions to Chatterbox Sports on improving our products or services, Chatterbox Sports may use your suggestions without any compensation to you.</p>

<p><br></p>
<p>6. Acceptable Use Policy</p>
<p>We may allow you to upload, submit, or publish (collectively, to &quot;submit&quot;) content such as images and text (collectively, &quot;content&quot;). You must ensure that your content, and your conduct, complies with the Acceptable Use Policy set forth in this Section 6. Chatterbox Sports may (but is not obligated to) monitor your account, content, and conduct, regardless of your privacy settings. Chatterbox Sports may take all appropriate actions to enforce this Acceptable Use Policy including removing specific videos or suspending or removing your account.</p>

<p><br></p>
<p>6.1 Copyright Policy</p>
<p>You may only upload content that you have the right to upload and share. Copyright owners may send Chatterbox Sports a takedown notice as stated in our Copyright Policy if they believe Chatterbox Sports is hosting infringing materials. We will, in appropriate circumstances, terminate the accounts of persons who repeatedly infringe.</p>

<p><br></p>
<p>6.2 Content Restrictions</p>
<p>You may not submit any content that:</p>
<p>Infringes any third party&rsquo;s copyrights or other rights (e.g., trademark, privacy rights, etc.);</p>
<p>Is sexually explicit (e.g., pornography) or proposes a transaction of a sexual nature;</p>
<p>Is hateful, defamatory, or discriminatory or incites hatred against any individual or group;</p>
<p>Promotes or supports terror or hate groups;</p>
<p>Exploits minors;</p>
<p>Depicts unlawful acts or extreme violence;</p>
<p>Provides instructions on how to assemble explosive/incendiary devices or homemade/improvised firearms;</p>
<p>Depicts animal cruelty or extreme violence towards animals;</p>
<p>Promotes fraudulent or dubious business schemes or proposes an unlawful transaction;</p>
<p>Makes false or misleading claims about vaccination safety;</p>
<p>Claims that mass tragedies are hoaxes or false flag operations;</p>
<p>Depicts or encourages self-harm; or</p>
<p>Violates any applicable law.</p>

<p><br></p>
<p>6.3 Code of Conduct</p>
<p>In using the Chatterbox Sports application Service, you may not:</p>
<p>Use an offensive screen name (e.g., explicit language) or avatar (e.g., containing nudity);</p>
<p>Act in a deceptive manner or impersonate any person or organization;</p>
<p>Harass or stalk any person;</p>
<p>Harm or exploit minors;</p>
<p>Distribute &ldquo;spam&rdquo; in any form or use misleading metadata;</p>
<p>Collect personal information about others;</p>
<p>Access another&rsquo;s account without permission;</p>
<p>Engage in any unlawful activity; or</p>
<p>Cause or encourage others to do any of the above.</p>

<p><br></p>
<p>6.4 Prohibited Technical Measures</p>
<p>You will not:</p>
<p>Except as authorized by law or as permitted by us: scrape, reproduce, redistribute, create derivative works from, decompile, reverse engineer, alter, archive, or disassemble any part of the Chatterbox Sports application Service; or attempt to circumvent any of our security, rate-limiting, filtering, or digital rights management measures;</p>
<p>Submit any malicious program, script, or code;</p>
<p>Submit an unreasonable number of requests to our servers; or</p>
<p>Take any other actions to manipulate, interfere with, or damage the Chatterbox Sports application Service.</p>

<p><br></p>
<p>6.5 Restricted Users</p>
<p>You may not create an account if you are a member of a terror or hate group. You may not purchase any goods or services from us if you reside in a country subject to a comprehensive U.S. sanctions program or are a Specifically Designated National (SDN) as designated by the U.S. Department of the Treasury.</p>

<p><br></p>
<p>7. Disclaimers</p>
<p>YOUR USE OF THE Chatterbox Sports application SERVICE AND ANY PROGRAM IS AT YOUR OWN RISK. Chatterbox Sports PROVIDES THE Chatterbox Sports application SERVICE ON AN &ldquo;AS IS&rdquo; AND &ldquo;AS AVAILABLE&rdquo; BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. PRODUCERS PROVIDE PROGRAMS ON AN &ldquo;AS IS&rdquo; AND &ldquo;AS AVAILABLE&rdquo; BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. Chatterbox Sports AND EACH PRODUCER DISCLAIM ALL WARRANTIES, EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.</p>

<p><br></p>
<p>Without limiting the above, Chatterbox Sports makes no representations or warranties concerning:</p>
<p>The availability of the Chatterbox Sports application Service in a particular jurisdiction.</p>
<p>The availability of the Chatterbox Sports application Service for any particular device, operating system, or browser.</p>
<p>The continued support for a particular feature of the Chatterbox Sports application Service.</p>
<p>The viewing quality of any Program. Chatterbox Sports does not guarantee that you will be able to use the Chatterbox Sports application Service at all times, or view any Program uninterrupted, error-free or displayed at any particular resolution. The quality of your viewing experience depends on a number of factors, including your viewing device and the quality of your Internet connection.</p>
<p><br></p>

<p>The content of any Program or the suitability of any Program for any audience. All opinions and statements expressed by or in Programs (or related materials) are those of the Producer and/or persons involved in the production of the Program, not Chatterbox Sports.</p>
<p>The continued availability of any Program or the availability of particular Program within a subscription channel. Programs may be withdrawn at any time without notice.</p>
<p>Any Producer&rsquo;s actions or omissions with respect to your personal information.</p>
<p>Producers may provide links to other Producer websites or third-party websites. Chatterbox Sports is not responsible for the content of, or any interactions or transactions that may take place on or through, any such website.</p>
<p><br></p>

<p>8. Limitation of Liability</p>
<p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, Chatterbox Sports, ITS PARENT, DIRECTORS, OFFICERS, EMPLOYEES, REPRESENTATIVES, CONSULTANTS, AGENTS, SUPPLIERS, AND PARTNERS (INCLUDING PRODUCERS) SHALL NOT BE LIABLE FOR (I) ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA, OR OTHER INTANGIBLE LOSSES; (II) DAMAGES RELATING TO ANY DISPUTE BETWEEN YOU AND A PRODUCER OR OTHER Chatterbox Sports USER; OR (III) DAMAGES EXCEEDING THE GREATER OF USD $100 OR THE AMOUNTS PAID BY YOU TO Chatterbox Sports OVER THE 12 MONTHS PRECEDING THE FILING OF YOUR CLAIM.</p>
<p><br></p>

<p>The foregoing limitations apply to all claims, whether based on warranty, contract, tort, or any other legal theory, whether or not Chatterbox Sports (or a Producer) has been informed of the possibility of such damage, and whether a remedy set forth herein is found to have failed its essential purpose. Some jurisdictions may not allow the exclusion of certain warranties or the exclusion or limitation of liability as set forth above, so these limitations above may not apply to you.</p>
<p><br></p>

<p>9. Indemnification</p>
<p>You shall indemnify, defend, and hold harmless Chatterbox Sports and its parent, directors, officers, employees, representatives, consultants, agents, suppliers, and partners (including Producers) from any liability, claim, demand, damages, losses, and costs (including attorneys&rsquo; fees) arising from: (i) your unauthorized use of any Program; (ii) your breach of this Agreement or violation of any law or third-party right; or (iii) any content that you upload or submit to us.</p>
<p><br></p>

<p>10. Arbitration Agreement; Jury Waiver; Class Action Waiver</p>
<p>This Section 10 sets forth a binding arbitration agreement between you and Chatterbox Sports (the &ldquo;Arbitration Agreement&rdquo;). In this Arbitration Agreement, you agree:</p>
<p>To arbitrate all claims relating to the Chatterbox Sports application Service;</p>
<p>To waive your right to a trial by jury; and</p>
<p>To waive any right to proceed on a class basis in arbitration or otherwise.</p>
<p>10.1 Arbitration Agreement</p>
<p>The exclusive means of resolving any dispute or claim arising out of or relating to this Agreement (including any alleged breach thereof), or your use of the Chatterbox Sports application Service shall be BINDING ARBITRATION administered by JAMS pursuant to its Streamlined Arbitration Rules &amp; Procedures as modified by our Arbitration Procedures.</p>
<p><br></p>

<p>10.2 Overview</p>
<p>Arbitration provides a private dispute resolution process that is usually more streamlined and less formal than litigation. In an arbitration, your rights will be determined by a neutral third party called an arbitrator, and not a judge or jury. Both you and Chatterbox Sports are entitled to fundamentally fair proceedings at every stage of the arbitration, including the hearing (if any). The arbitrator will decide all issues relating to the dispute, including the question of arbitrability, and can grant any relief that a court could grant. Decisions by the arbitrator are enforceable in court and may be overturned by a court only for very limited reasons. For details on the arbitration process, see our Arbitration Procedures.</p>
<p><br></p>

<p>10.3 Location of Hearing</p>
<p>If you are a consumer, as defined by JAMS in its Consumer Minimum Standards, you may request that the arbitration hearing be conducted in the area in which you reside. Otherwise, the hearing (if any) shall take place in Butler County, Ohio , United States of America.</p>
<p><br></p>

<p>10.4 Class-Action Waiver</p>
<p>EACH PARTY WAIVES ITS RIGHT TO GO TO COURT, TO A TRIAL BY JURY, AND TO PARTICIPATE IN A CLASS ACTION, CLASS ARBITRATION, OR OTHER REPRESENTATIVE PROCEEDING WITH RESPECT TO ANY CLAIM SUBJECT TO ARBITRATION.</p>
<p>10.5 Exception for Small Claims Court Matters</p>
<p>Notwithstanding the above, each party has the right to bring an individual claim against the other in a small claims court of competent jurisdiction pursuant to Rule 1 of JAMS&rsquo; Consumer Minimum Standards. If one party files an arbitration that could be litigated in such a small claims court, the responding party may request that the dispute proceed in small claims court. If the responding party requests to proceed in small claims court before the appointment of the arbitrator, the arbitration shall be administratively closed. If requested after the appointment of the arbitrator, the arbitrator shall administratively close the arbitration so long as the proceedings are at an early stage and no hearing has occurred.</p>
<p>10.6 Jurisdiction and Venue</p>
<p>The Federal Arbitration Agreement (&ldquo;FAA&rdquo;) shall govern this Arbitration Agreement. To the extent not preempted or inconsistent with the FAA, the choice of law provisions in Section 11 are incorporated and are applicable to this Arbitration Agreement. Any arbitration award may be entered in a court of competent jurisdiction.</p>
<p>10.7 Binding Arbitration with Producers</p>
<p>To the extent that the Producer has agreed to resolve disputes with consumers through arbitration in its agreements with Chatterbox Sports, you agree that any dispute with a Producer arising out of or relating to your purchase or viewing of a Producer&rsquo;s Program or subscription channel shall be resolved by BINDING ARBITRATION administered by JAMS in accordance with this Section 10.</p>
<p>11. General Provisions</p>
<p>Choice of Law: Any disputes relating to this Agreement or your use of the Chatterbox Sports application Service will be governed by the laws of Ohio and the United States of America (with respect to matters subject to federal jurisdiction such as copyright), without regard to principles of conflicts of law. The Uniform Commercial Code, the Uniform Computer Information Transaction Act, and the United Nations Convention of Controls for International Sale of Goods shall not apply.</p>
<p>Choice of Venue for Litigation; Jury Trial Waiver: Any proceeding to enforce the Arbitration Agreement, including any proceeding to confirm, modify, or vacate an arbitration award, may be commenced in any court of competent jurisdiction. In the event that the Arbitration Agreement is for any reason held to be unenforceable, any litigation (except for small-claims court actions) shall be commenced only in the federal or state courts located in Butler County, Ohio. You hereby irrevocably consent to the exclusive jurisdiction of those courts for such purposes and, to the extent permitted by law, both Chatterbox Sports and you WAIVE ANY RIGHT TO A TRIAL BY JURY in such an action.</p>
<p>No Waiver: The failure of Chatterbox Sports (or any Producer) to exercise or enforce any term of this Agreement will not constitute a waiver of such term.</p>
<p>Provisions Severable: If any term of this Agreement is held invalid or unenforceable, that term will be construed in a manner consistent with applicable law to reflect, as nearly as possible, the original intentions of the parties, and the remaining terms will remain in full force and effect.</p>
<p>No Third Parties: No third parties shall have any rights under this Agreement, except that Producers may enforce the terms herein against you, and indemnified parties may enforce indemnification rights.</p>
<p>Force Majeure: Neither Chatterbox Sports nor any Producer shall be liable for any failure or delay in performance of its obligations under this Agreement arising out of or caused, directly or indirectly, by circumstances beyond its reasonable control, including, without limitation, acts of God; natural disasters; wars; civil or military disturbances; sabotage; strikes; epidemics; riots; power failures; computer failure; loss or malfunction of utility, transportation, computer (hardware or software) or telephone communication service; accidents; labor disputes, acts of civil or military authority; governmental actions; or inability to obtain labor, material, equipment or transportation.</p>
<p>U.S. Export Compliance: You may not use the Chatterbox Sports application Service if (i) you are personally subject to U.S. government sanctions or (ii) you are located in a country that is subject to U.S. Government sanctions such that your use of the Chatterbox Sports application Service would violate U.S. law. You represent and warrant that you are not subject to such sanctions.</p>
<p>Entire Agreement: This Agreement incorporates by reference the Chatterbox Sports application Privacy Policy, Arbitration Procedures, and chatterboxsports.com/copyright. Except for links to these documents, links to pages on the Chatterbox Sports website or any third party materials are for convenience only and do not form part of this Agreement.</p>
<p>This Agreement sets forth the entire understanding between you and Chatterbox Sports concerning your use of the Chatterbox Sports application Service and supersedes all prior agreements regarding the same. This Agreement may only be modified by us. This agreement is only between Chatterbox Sports application Service and end user. No third party users are responsible for any breach of either side in this agreement. Any changes will be posted to the Chatterbox Sports website and will apply prospectively.</p>
<p>Contact Us: If you have any support questions, please contact us at contact@chatterboxsports.com. You must send any notices of a legal nature to us at:</p>
<p>Chatterbox Sports LLC</p>
<p>6 S 2ND ST - STE 205</p>
<p>Hamilton, Ohio 45011</p>
<p>Contact@chatterboxsports.com</p>
        </div>
    </section>
    <!-- End videos section -->
</div>