<!-- Starts landing body section -->
<div class="cb-bg-color">
    <!-- Starts videos section -->
    <section class="cb-videos-section">
        <div class="container">
        <h1 style="text-align: center; font-size: 25px;">Coming Soon!!</h1>
            
        </div>
    </section>
    <!-- End videos section -->
</div>
<!-- End landing body section -->

<!-- Starts---Loader code -->
<!-- <div class="cb-loader-overlay" *ngIf="loader">
    <img src="../../../assets/images/loading.gif">
</div> -->
<!-- Ends---Loader code -->