
<!-- Starts landing body section -->
<!-- <div class="cb-bg-color">
    <section class="cb-videos-section">
        <div class="container">
            <h1 style="text-align: center; margin-top: 150px;">Schedule Coming soon!!</h1>
        </div>
    </section>
</div> -->
<!-- End landing body section -->




<div class="container">
    <div class="cb-schedule">
        <div class="schedule-inner">
            <!-- <div class="cb-calender">
                <p class="cal-date">December 2nd 2020 - December 6th 2020</p>
                <div class="month">
                    <ul class="weekdays">
                        <li class="prev">&#10094;</li>
                        <li class="active">Mon<span>2</span></li>
                        <li>Tue<span>3</span></li>
                        <li>Wed<span>4</span></li>
                        <li>Thu<span>5</span></li>
                        <li>Fri<span>6</span></li>
                        <li>Sat<span>7</span></li>
                        <li>Sun<span>8</span></li>
                        <li class="next">&#10095;</li>
                    </ul>

                </div>
            </div>  -->
            <!-- <div class="event-list">
               
                <h3 class="event-date">Wednesday , December 2</h3>
                <div class="sportstableblock">
                    <table id="sportstable">

                       
                        <thead>
                            <tr>
                                <th class="sports"> SPORTS</th>
                                <th class="match"> MATCHUP</th>
                                <th class="time"> TIME(ET)</th>
                                <th class="channel"> CHANNEL</th>

                            </tr>
                        </thead>



                       

                        <tbody>
                            <tr>
                                <td>Basketball</td>
                                <td><img class="clublogo" src="../../../assets/images/tsv-logo.png">TSV Eintracht Braunschweig <span>vs</span> <img class="clublogo" src="../../../assets/images/sc-logo.png"> SC Paderborn 07</td>
                                <td>09:00</td>
                                <td><img src="../../../assets/images/espn_logo.png"></td>
                            </tr>
                            <tr>
                                <td>Basketball</td>
                                <td><img class="clublogo" src="../../../assets/images/tsv-logo.png">TSV Eintracht Braunschweig <span>vs</span> <img class="clublogo" src="../../../assets/images/sc-logo.png"> SC Paderborn 07</td>
                                <td>09:00</td>
                                <td><img src="../../../assets/images/espn_logo.png"></td>
                            </tr>
                            <tr>
                                <td>Basketball</td>
                                <td><img class="clublogo" src="../../../assets/images/tsv-logo.png">TSV Eintracht Braunschweig <span>vs</span> <img class="clublogo" src="../../../assets/images/sc-logo.png"> SC Paderborn 07</td>
                                <td>09:00</td>
                                <td><img src="../../../assets/images/espn_logo.png"></td>
                            </tr>



                        </tbody>
                      <tfoot>
                            <td colspan="4" class="tab-foot">
                                <div>Row per page <select>
                                            <option>1</option>
                                            <option>2</option>
                                        </select> 1 to 10 of 270
                                    <ul class="left-right-arrow">
                                        <li class="prev">&#10094;</li>
                                        <li class="next">&#10095;</li>
                                    </ul>

                                </div>
                            </td>
                        </tfoot> 

                    </table>
                </div>
            </div>  -->
        
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Type here to filter records" #input>
              </mat-form-field>
              
              <div class="mat-elevation-z8 sportstableblock">
                <table id="sportstable" mat-table [dataSource]="dataSource" matSort>
              
                  
                  <!-- Progress Column -->
                  <ng-container matColumnDef="MATCHUP">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> MATCHUP </th>
                    <td mat-cell *matCellDef="let row"> {{row.MATCHUP}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="TIME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> TIME </th>
                    <td mat-cell *matCellDef="let row"> {{row.TIME}} </td>
                  </ng-container>
              
                  <!-- Color Column -->
                  <ng-container matColumnDef="CHANNEL">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> CHANNEL </th>
                    <td mat-cell *matCellDef="let row"> {{row.CHANNEL}} </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                  </tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              </div>
              
        
        </div>
    </div>
</div>

<!-- Starts---Loader code -->
<div class="cb-loader-overlay" *ngIf="loader">
    <img src="../../../assets/images/loading.gif">
</div>
<!-- Ends---Loader code -->
