<div class="container">
    <div class="cb-schedule">
        <div class="schedule-inner">
            <div class="cb-calender">
                <p class="cal-date">December 2nd 2020 - December 6th 2020</p>
                <div class="month">
                    <ul class="weekdays">
                        <li class="prev">&#10094;</li>
                        <li class="active">Mon<span>2</span></li>
                        <li>Tue<span>3</span></li>
                        <li>Wed<span>4</span></li>
                        <li>Thu<span>5</span></li>
                        <li>Fri<span>6</span></li>
                        <li>Sat<span>7</span></li>
                        <li>Sun<span>8</span></li>
                        <li class="next">&#10095;</li>
                    </ul>

                </div>
            </div>

            <div class="event-list">
                <!-- Table markup-->
                <h3 class="event-date">Wednesday , December 2</h3>
                <div class="sportstableblock">
                    <table id="sportstable">

                        <!-- Table header -->

                        <thead>
                            <tr>
                                <th class="sports"> SPORTS</th>
                                <th class="match"> MATCHUP</th>
                                <th class="time"> TIME(ET)</th>
                                <th class="channel"> CHANNEL</th>

                            </tr>
                        </thead>



                        <!-- Table body -->

                        <tbody>
                            <tr>
                                <td>Basketball</td>
                                <td><img class="clublogo" src="../../../assets/images/tsv-logo.png">TSV Eintracht Braunschweig <span>vs</span> <img class="clublogo" src="../../../assets/images/sc-logo.png"> SC Paderborn 07</td>
                                <td>09:00</td>
                                <td><img src="../../../assets/images/espn_logo.png"></td>
                            </tr>
                            <tr>
                                <td>Basketball</td>
                                <td><img class="clublogo" src="../../../assets/images/tsv-logo.png">TSV Eintracht Braunschweig <span>vs</span> <img class="clublogo" src="../../../assets/images/sc-logo.png"> SC Paderborn 07</td>
                                <td>09:00</td>
                                <td><img src="../../../assets/images/espn_logo.png"></td>
                            </tr>
                            <tr>
                                <td>Basketball</td>
                                <td><img class="clublogo" src="../../../assets/images/tsv-logo.png">TSV Eintracht Braunschweig <span>vs</span> <img class="clublogo" src="../../../assets/images/sc-logo.png"> SC Paderborn 07</td>
                                <td>09:00</td>
                                <td><img src="../../../assets/images/espn_logo.png"></td>
                            </tr>



                        </tbody>
                        <tfoot>
                            <td colspan="4" class="tab-foot">
                                <div>Row per page <select>
                                            <option>1</option>
                                            <option>2</option>
                                        </select> 1 to 10 of 270
                                    <ul class="left-right-arrow">
                                        <li class="prev">&#10094;</li>
                                        <li class="next">&#10095;</li>
                                    </ul>

                                </div>
                            </td>
                        </tfoot>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
