<div class="cb-profilesub">


    <!-- Starts profile block-->
    <div class="cb-profile-block">

        <div class="container">
            <div class="row cb-profile-back">
                <div class="col-12">
                    <h3>Cancel Chatterbox Live Subscription
                        <div class="cb-popup-close">
                            <mat-icon aria-hidden="false" aria-label=" home icon" (click)="closeDialog()">close</mat-icon>

                        </div>
                    </h3>

                </div>
            </div>




            <div class="row">
                <div class="col-12">

                    <div class="plan-box">

                        <p class="subs-text">Are you sure you want to end your Chatterbox Live subscription? You will no longer have access to the entire Chatterbox Live catalog.
                        </p>
                        <p class="subs-text">Your Chatterbox Live subscription will expire on {{liveplusExpireDate}}
                        </p>
                        <p class="text-center btun-cancel">
                            <a href="javascript:void(0)" (click)="closeDialog()" class="cb-upgradenotnow-btn">Not Now </a>
                            <a href="javascript:void(0)" (click)="cancelSubscription('CBOX +')" class="cb-upgrade-btn">Cancel Subscription </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Starts right block-->  
<!-- Starts---Loader code -->
<div class="cb-loader-overlay" *ngIf="loader">
    <img src="../../../assets/images/loading.gif">
</div>
<!-- Ends---Loader code -->
    </div>