<!-- Starts - Top navigation bar -->
<header>
    <div class="cp-top-wrap">
        <nav class="navbar navbar-expand-lg navbar-light cp-nav-bg">
            <div class="container">
                <!-- Starts - logo image code -->
                <a class="navbar-brand" routerLink="/"><img src="../../assets/images/cb-logo.png"></a>
                <!-- Ends - logo image code -->

                <!-- Starts - toggle button for mobiles -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Ends - toggle button for mobiles -->

                <!-- Starts - Menu items -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav cb-navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link"  routerLink="/" routerLinkActive="active">Live </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  routerLink="/liveplus" routerLinkActive="active">Live+</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  routerLink="/tourney" routerLinkActive="active">Tourney</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">Schedule</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#">FAQ</a>
                        </li>
                        <li class="mobile-show" *ngIf="fullname == undefined || fullname == ''">
                            <a class="login" href="javascript:void(0)" (click)="openSigninDialog()">Login</a>
                        </li>
                        <li class="mobile-show" *ngIf="fullname != undefined && fullname != ''">
                            <a class="login logout" href="javascript:void(0)" (click)="userLogout()">Logout</a>
                        </li>
                        <li class="profileiconmobile " *ngIf="fullname != undefined && fullname != ''">
                            <span class="profileicon">Hi {{fullname}}   <img src="../../../assets/images/user-icon.png"> </span>
                        </li>

                    </ul>
                </div>
                <!-- Ends - Menu items -->

                <div class="usersection">
                    <span class="profileicon" *ngIf="fullname != undefined && fullname != ''">Hi {{fullname}}  <img src="../../../assets/images/user-icon.png"> </span>
                    <a *ngIf="fullname == undefined || fullname == ''" class=" login desktop" href="javascript:void(0)" (click)="openSigninDialog()">Login</a>
                    <a *ngIf="fullname != undefined && fullname != ''" class="login logout" href="javascript:void(0)" (click)="userLogout()">Logout</a>
                </div>
            </div>
        </nav>
    </div>

</header>
<!-- Ends - Top navigation bar -->