.cp-top-wrap {
    box-shadow: 0px 1px 9px #dedede;
}

.mobile-show a {
    padding: .5rem 0rem;
    display: block;
    color: #373f41;
    font-weight: 800;
}

.usersection span {
    font-weight: 700;
    color: #cb3342;
    margin-right: 10px;
}

.usersection span img {
    margin-left: 5px;
}

.usersection a {
    display: inline-block;
}

.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
}

button.navbar-toggler:focus {
    outline: 1px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

.cp-nav-bg {
    background: #fff;
}

.cp-nav-loginbtn {
    background: #cb3342;
    color: #fff;
    padding: 8px 20px;
    text-decoration: none;
}

.cb-navbar-nav {
    margin: 0 auto;
}

.mobile-show {
    display: none;
}

.usersection .logout {
    display: inline-block;
    background: #cb3342;
    color: #fff;
    padding: 11px 25px;
    font-weight: 700;
}

.login.desktop {
    display: block;
    background: #cb3342;
    color: #fff;
    padding: 11px 25px;
    font-weight: 700;
}

.login.desktop:hover {
    text-decoration: none;
}

.navbar-nav .nav-link {
    color: #373f41;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-item .nav-link.active {
    color: #cb3342;
}

.usersection .profileicon {
    display: inline-block;
}

.profileiconmobile {
    display: none;
}

.usersection {
    display: block;
}

@media (max-width:991px) {
    .usersection {
        display: none;
    }
    .mobile-show {
        display: block;
    }
    .usersection a.login.desktop,
    .usersection a.logout {
        display: none;
    }
    .navbar-light .navbar-nav .nav-link,
    .mobile-show a {
        text-align: center;
    }
    .usersection .profileicon {
        display: none;
    }
    .profileiconmobile {
        display: inline-block;
        text-align: center;
        font-weight: 800;
        margin: 5px 0px;
    }
}