
.cp-top-wrap
{
    box-shadow: 0px 1px 9px #dedede;
}
.cp-nav-bg
{
    background: #fff;
}

.cp-nav-loginbtn
{
    background: #cb3342;
    color: #fff;
    padding: 8px 20px;
    text-decoration: none;
}

.cb-navbar-nav
{
    margin: 0 auto;
}

