<div class="cb-profile">


    <!-- Starts profile block-->
    <div class="cb-profile-block">

        <div class="container">
            <div class="row cb-profile-back">
                <div class="col-12">
                    <h3>My Profile

                    </h3>

                </div>
            </div>
            <!-- Starts Form code -->
            <div class="row">
                <div class="col-12">
                    <p class="profile-head">Profile Information</p>
                </div>
            </div>
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">

                            <mat-form-field>
                                <mat-label>First Name<sup>*</sup></mat-label>
                                <input matInput type="text" class="form-control" value="{{firstName}}" readonly>
                                <!-- <mat-error *ngIf="email.invalid">{{showErrors('email')}}</mat-error> -->
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">

                            <mat-form-field>
                                <mat-label>Last Name<sup>*</sup></mat-label>
                                <input matInput type="text" class="form-control" value="{{lastName}}" readonly>
                                <!-- <mat-error *ngIf="email.invalid">{{showErrors('email')}}</mat-error> -->
                            </mat-form-field>
                        </div>

                    </div>


                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">

                            <mat-form-field>
                                <mat-label>Email address<sup>*</sup></mat-label>
                                <input matInput type="text" class="form-control" value="{{userEmail}}" readonly>
                                <!-- <mat-error *ngIf="email.invalid">{{showErrors('email')}}</mat-error> -->
                            </mat-form-field>
                        </div>

                    </div>

                </div>


            </form>

            <!-- Ends Form code -->

            <div class="row" *ngIf="isLivePlusUser == 1">
                <div class="col-12">
                    <p class="profile-head">Subscription Plan</p>
                    <div class="plan-box">
                        <p>
                            <span class="subbtn">Subscription Plan</span><span class="subprice">$13.99</span></p>
                        <p class="subs-text">You are selected a Chatterbox Live+ is a premium monthly subscription channel dedicated to bringing you live coverage of the biggest events.</p>
                        <p *ngIf="!isLivePlusUserCancelled" class="text-right profilebtn"> <a class="cb-upgradenotnow-btn" (click)="opencancelDialog()">Cancel Subscription </a>
                        <p *ngIf="isLivePlusUserCancelled" class="text-right profilebtn"> <a class="cb-upgradenotnow-btn">Your Live+ Subscription Cancelled Successfully.</a>
                            <!-- <a class="cb-upgrade-btn">Upgrade Plan </a> -->
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Starts right block-->

    </div>