<div class="cb-profile">


    <!-- Starts profile block-->
    <div class="cb-profile-block">

        <div class="container">
            <div class="row cb-profile-back">
                <div class="col-12">
                    <h3>My Profile
                        <div class="cb-popup-close">
                            <mat-icon aria-hidden="false" aria-label=" home icon">close</mat-icon>

                        </div>
                    </h3>

                </div>
            </div>
            <!-- Starts Form code -->
            <div class="row">
                <div class="col-12">
                    <p class="profile-head">Profile Information</p>
                </div>
            </div>
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">

                            <mat-form-field>
                                <mat-label>First Name<sup>*</sup></mat-label>
                                <input matInput type="text" class="form-control">
                                <!-- <mat-error *ngIf="email.invalid">{{showErrors('email')}}</mat-error> -->
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">

                            <mat-form-field>
                                <mat-label>Last Name<sup>*</sup></mat-label>
                                <input matInput type="text" class="form-control">
                                <!-- <mat-error *ngIf="email.invalid">{{showErrors('email')}}</mat-error> -->
                            </mat-form-field>
                        </div>

                    </div>


                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">

                            <mat-form-field>
                                <mat-label>Email address<sup>*</sup></mat-label>
                                <input matInput type="text" class="form-control">
                                <!-- <mat-error *ngIf="email.invalid">{{showErrors('email')}}</mat-error> -->
                            </mat-form-field>
                        </div>

                    </div>

                </div>


            </form>

            <!-- Ends Form code -->

            <div class="row">
                <div class="col-12">
                    <p class="profile-head">Subscription Plan</p>
                    <div class="plan-box">
                        <p>
                            <span class="subbtn">Subscription Plan</span><span class="subprice">$13.99</span></p>
                        <p class="subs-text">You are selected a Chatterbox Live+ is a premium monthly subscription channel dedicated to bringing you live coverage of the biggest events.</p>
                        <p class="text-right"> <a>Cancel Subscription </a>
                            <a class="cb-upgrade-btn">Upgrade Plan </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Starts right block-->

    </div>