
<div class="cb-login-popup">
     <!-- Starts Left block-->
    <div class="cb-login-left">
        <div class="cb-login-banner">
            <p>The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again during the 90s as desktop publishers bundled the text with their software.
            </p>
        </div>

    </div>
    <!-- Ends Left block-->

    <!-- Starts right block-->
    <div class="cb-login-right">

        <div class="cb-right-inner-block">
        <h3>Login with Email ID</h3>
        <p>Login with your data that you entered during your registration.</p>
          <!-- Starts Form code -->
        <form>
            <div class="form-group">
                <label for="usr">Email address<sup>*</sup></label>
                <input type="text" class="form-control" id="usr">
            </div>
            <div class="form-group">
                <label for="pwd">Password<sup>*</sup></label>
                    <input type="password" class="form-control" id="pwd">
            </div>
            <div class="cb-forgot-button"><a class="float-right" href="">Forgot password?</a></div>
           <button class="cb-submit-btn"> Continue</button>
       
        </form>

        <!-- Ends Form code -->

        <div class="cb-signup text-center">Don’t have an account?
            <a class="login" href="javascript:void(0)" (click)="openSignupDialog()">Register </a>
        </div>
    </div>

    <!-- Starts right block-->

</div>